.Directory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-nm);
  padding: var(--spacing-nm);

  > header {
    padding: var(--spacing-nm) var(--spacing-md);
    background: var(--color-dark-3);
    margin-inline: calc(var(--spacing-nm) * -1);
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, max-content);

    > button {
      grid-template-columns: auto 1fr;
    }
  }

  > header > button, > header {
    display: grid;
    align-items: center;
    gap: var(--spacing-nm);
  }

  > .title {
    font-size: 1.5rem;
    grid-column: 2 / -1;
  }

  > .file {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    > i {
      font-size: 12rem;
    }

    &.unknown > i::after {
      content: ""
    }

    > .Thumbnail {
      border-radius: var(--radius-nm);
    }
  }

  > .directory, > .file {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-nm);
    padding: 0;
  }

  > .directory > i {
    &::after {
      content: ""
    }

    &:hover::after {
      content: ""
    }
  }
}
