@mixin range-thumb {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-ms-thumb {
    @content;
  }
}

@mixin range-track {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.RangeInput {
  position: relative;
  display: grid;
  align-items: center;
  height: var(--spacing-nm);
  --thumb-size: 1em;

  > label {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: var(--x);
    translate: calc(var(--offset-x) - 50%) -100%;
    transition: translate 0.3s;
    color: var(--color-light);
    padding: var(--spacing-nm);
    --label-bg: #000B;
    background: var(--label-bg);
    border-radius: var(--radius-nm);

    --offset-x: 0em;
    &.left {
      --offset-x: 2em;
    }

    &.right {
      --offset-x: -2em;
    }
  }

  &:hover {
    > .progress::after  {
      --thumb-size: 1.2em;
    }

    > label {
      opacity: 1;
    }
  }

  > .progress {
    display: flex;
    align-items: center;
    z-index: 0;
    height: 100%;
    border: 0;
    pointer-events: none;
    background: var(--color-dark);
    border: 1px solid #ffd40060;
    border-radius: var(--radius-nm);

    &::before {
      content: "";
      display: block;
      width: var(--progress);
      height: 100%;
      background: linear-gradient(to right, var(--color-ok), var(--color-accent));
    }

    &::after {
      content: "";
      display: block;
      background: currentColor;
      transition: box-shadow 250ms, color 250ms, width 250ms;
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      color: var(--color-accent);
      transition: width 0.3s, height 0.3s;
      position: absolute;
      left: var(--progress);
      translate: -50%;
    }
  }

  > input {
    position: absolute;
    width: 100%;
    outline: 0;
    height: 2em;
    pointer-events: all;
    z-index: 1;
    cursor: pointer;

    @include range-track;
    @include range-thumb {
      opacity: 0;
      border: 0;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
    }

    @include range-thumb {
      width: 0;
      height: 0;
    }

  }
}
