.Media {
  display: grid;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: #000D;

  &.Video {
    grid-template-rows: auto 1fr auto;
  }

  &.Img {
    grid-auto-rows: auto;
    align-content: space-between;
  }

  > :not(.src) {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:has(:not(.src):hover) > :not(.src), &.Img:hover > :not(.src) {
    opacity: 1;
  }

  &.hidden > :not(.src) {
    cursor: none !important;
    opacity: 0 !important;
  }

  > header {
    padding: var(--spacing-md);
    display: grid;
    grid-template-columns: 1fr auto;
    background: linear-gradient(to bottom, #000, #0000);
  }

  > .play {
    opacity: 0.5 !important;
    --button-bg: var(--color-light);
    --button-bg-2: var(--button-bg);
    font-size: 16rem;
    height: 100%;

    > i {
      transition: opacity 0.4s, font-size 0.4s;

      &.pop-enter-active, &.pop-leave-active {
        opacity: 1;
        font-size: 18rem;
      }

      &.pop-enter-from, &.pop-leave-to {
        opacity: 0;
        font-size: 16rem;
      }
    }
  }

  > footer {
    display: grid;
    align-items: center;
    gap: var(--spacing-md);
    background: linear-gradient(to top, #000, #0000);
    padding: var(--spacing-md);

    > .control, > button, > .control > button {
      padding: 0;
    }

    > .control {
      position: relative;
      display: flex;
      gap: var(--spacing-nm);

      &:not(:hover) > .RangeInput {
        display: none;
      }

      > .RangeInput {
        position: absolute;
        rotate: -90deg;
        width: 200%;
        bottom: 390%;
        right: calc(var(--spacing-nm)*-1);
      }
    }
  }

  &.Video > footer {
    grid-template-columns: auto 1fr repeat(3, auto) repeat(3, 4em) auto;
  }

  &.Img > footer {
    grid-template-columns: auto auto;
    justify-content: end;
  }

  > .control, > footer .control , > .play {
    border: 0;
  }

  > .src {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    &.horizontal {
      min-height: 100vw;
    }
  }
}
