@import "tailwindcss";

html,
body {
  @apply text-sm accent-amber-300 bg-zinc-900 text-zinc-50 fixed h-dvh w-dvw overflow-auto;
  background: linear-gradient(to bottom right, #0f4840, #4f2f4f, #091111 120%);
}

* {
  scrollbar-color: #fcd34d #09090b;
}

@font-face {
  font-family: icon;
  src: url("./fonts/icon/icon.woff2");
  font-weight: 100 900;
}

::selection {
  @apply bg-amber-300 text-zinc-800;
}

:disabled {
  @apply opacity-25 cursor-not-allowed;
}

:invalid {
  @apply outline-rose-500!;
}

.button,
button,
select {
  @apply cursor-pointer;
}

.outlined,
.button,
button:not(.plain):not(.icon),
select {
  @apply rounded-md;
  &:active,
  &:focus {
    @apply outline -outline-offset-1;
  }
}

button:not(.plain),
select {
  @apply button;
}

i {
  @apply icon p-0;
}

select {
  @apply rounded-md py-1 px-3;
}

button,
:not(.named-input) > input,
textarea,
select {
  @apply focus:outline -outline-offset-1;
}

:not(.named-input) > input:not([type="color"]),
textarea {
  @apply px-2 rounded-xs bg-zinc-900 text-zinc-50;
}

@utility rounded-square {
  @apply px-2 rounded-sm h-full aspect-square text-center flex items-center justify-center;
}

@utility named-input {
  @apply grid items-center gap-2 rounded-md text-zinc-200 border border-transparent
         px-4 py-2 relative transition-[background,color,padding,border] duration-200;

  input {
    @apply outline-0;
  }

  input::placeholder {
    @apply opacity-0;
  }

  > .placeholder {
    @apply flex gap-2 pointer-events-none opacity-50 absolute
           transition-[background,opacity,translate,padding] duration-200 translate-none rounded-t-md;
  }

  &:hover,
  &:has(input:focus) {
    > .input-icn,
    > .placeholder {
      @apply opacity-100;
    }
  }

  &:has(input:focus) {
    @apply text-amber-300 px-4 border-current;
  }

  > input:not(:placeholder-shown) + .placeholder,
  input:focus + .placeholder {
    @apply -translate-y-5 translate-x-4;
  }

  > input:focus + .placeholder {
    @apply px-2 bg-amber-300 text-zinc-900 opacity-100;
    translate: 4px calc(-8px - 100%);
  }
}

@utility explorer {
  @apply grid p-4 pt-0;

  &.list-view {
    @apply grid-flow-row;
  }

  &:not(.list-view) {
    @apply gap-4 grid-cols-[repeat(auto-fill,minmax(var(--thumbnail-size),1fr))] items-start;
  }

  > header {
    @apply flex items-center gap-4 px-6 py-4 bg-zinc-900/50 -mx-4 col-span-full sticky top-0;
  }

  &.list-view > button {
    @apply text-left flex gap-2 items-center px-4 py-3 text-base;

    > i {
      @apply text-amber-300;
    }

    &:hover {
      @apply bg-black/50;
    }
  }

  header button {
    @apply grid grid-cols-[auto_1fr] items-center gap-4;
  }

  .range-input {
    @apply w-32;
  }

  i {
    @apply leading-none;
  }

  > .title {
    @apply text-2xl col-span-2;
  }

  &:not(.list-view) > .file {
    @apply overflow-hidden text-ellipsis cursor-pointer flex flex-col justify-between gap-2 p-0;

    > i {
      font-size: calc(var(--thumbnail-size) / 5 * 4);
    }

    &.unknown > i::after {
      content: "";
    }

    > .Thumbnail {
      @apply rounded-md;
    }
  }

  &:not(.list-view) > .directory {
    @apply flex flex-col justify-between gap-2 p-0;

    > i {
      @apply text-amber-300;

      &::after {
        content: "";
      }

      &:hover::after {
        content: "";
      }
    }
  }
}

@utility gallery {
  @apply grid items-center fixed left-0 top-0 w-screen h-screen backdrop-blur-md bg-black/80 z-1;

  .icon {
    @apply aspect-square w-8 flex items-center justify-center rounded-sm;
  }

  &.video {
    @apply grid-rows-[auto_minmax(0,1fr)_auto];

    .play {
      @apply h-full text-[16rem] outline-0! w-full opacity-50 text-white!;
    }
  }

  &.image {
    @apply auto-rows-auto content-between;
  }

  > :not(.src) {
    @apply transition-opacity duration-300 opacity-100;
  }

  &.hidden-ctrls {
    &,
    * {
      @apply cursor-none!;
    }
  }

  &.hidden-ctrls > :not(.src) {
    @apply opacity-0;
  }

  header {
    @apply p-4 flex gap-2 bg-gradient-to-b from-black to-transparent;

    h1 {
      @apply flex-1;
    }
  }

  > footer {
    @apply grid items-center gap-4 bg-gradient-to-t from-black to-transparent p-4;
  }

  .control {
    @apply relative flex gap-1 items-center z-10;

    &.horizontal .range-input {
      @apply w-30;
    }

    &:not(.horizontal) {
      .range-input {
        @apply absolute opacity-0 -top-30 h-30 z-10;
      }

      &:hover .range-input {
        @apply opacity-100;
      }

      strong {
        @apply w-9;
      }
    }
  }

  &.video > footer {
    @apply flex gap-2;

    .progress-bar {
      @apply flex-1;
    }
  }

  &.image > footer {
    @apply grid-flow-col justify-end;
  }

  .src {
    @apply absolute -z-1 w-full h-full;

    &.horizontal {
      @apply min-h-dvw;
    }
  }
}

@utility range-input {
  @apply appearance-none bg-transparent;
  @apply relative grid;

  &.vertical {
    @apply w-8 h-full justify-center;

    input {
      @apply h-full w-8 left-1/2 -translate-x-1/2;
      writing-mode: vertical-lr;
      direction: rtl;
    }

    output {
      @apply left-6 -translate-y-1/2;
      top: var(--x);
    }

    > .progress {
      @apply justify-center w-2 h-full flex-wrap-reverse;

      &::before {
        @apply w-full bg-gradient-to-t;
        height: var(--progress);
      }

      &::after {
        @apply translate-y-1/2;
        bottom: var(--progress);
      }
    }
  }

  &:not(.vertical) {
    @apply h-8 items-center;

    input {
      @apply w-full h-8;
    }

    output {
      @apply bottom-6 -translate-x-1/2;
      left: var(--x);

      &.left {
        margin-left: 1rem;
      }

      &.right {
        margin-left: -1rem;
      }
    }

    > .progress {
      @apply items-center h-2;

      &::before {
        @apply h-full bg-gradient-to-r;
        width: var(--progress);
      }

      &::after {
        @apply -translate-x-1/2;
        left: var(--progress);
      }
    }
  }

  input {
    @apply absolute inset-0 outline-0 cursor-pointer z-10 opacity-0 p-0! m-0!;

    &::-webkit-slider-thumb {
      @apply range-thumb;
    }

    &::-moz-range-thumb {
      @apply range-thumb;
    }
  }

  output {
    @apply opacity-0 pointer-events-none absolute p-2 outline
           text-zinc-200 bg-black/70 rounded transition-[translate]
           duration-300 outline-zinc-800 z-10;
  }

  &:hover {
    > .progress::after {
      @apply w-5 h-5;
    }

    output {
      @apply opacity-100;
    }
  }

  > .progress {
    @apply relative flex z-0 pointer-events-none bg-zinc-800 border border-amber-300/25 rounded relative;

    &::before {
      @apply block from-green-500 to-amber-300 rounded-lg;
      content: "";
    }

    &::after {
      @apply block w-4 h-4 rounded-full bg-amber-300 absolute transition-[box-shadow,color,width,height] duration-300 z-1;
      content: "";
    }
  }
}

@utility range-thumb {
  @apply opacity-0 border-0 cursor-pointer w-0 h-0;
  -webkit-appearance: none;
}

@utility button {
  &:not(.icon):not(.compact) {
    @apply px-4 py-1;
  }

  &:not(.icon):not(.no-color) {
    @apply bg-zinc-50 text-zinc-900 hover:bg-amber-300 active:bg-amber-100 hover:text-zinc-800 active:text-zinc-800;

    &.selected {
      @apply bg-zinc-900 text-zinc-100;
    }
  }

  &.icon {
    @apply text-zinc-50 hover:text-amber-300 active:text-amber-100;
  }
}

@utility icon {
  font-family: icon, monospace;
  @apply border-0 outline-0 p-2 inline-block text-center not-italic leading-none;
  outline: 0;
}
