@import "tailwindcss";

html,
body {
  @apply text-sm accent-indigo-500 dark:accent-amber-300 bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50 overflow-hidden! fixed h-dvh w-dvw;
  background: linear-gradient(to bottom right, #0f4840, #4f2f4f, #091111 120%);
}

#app {
  @apply overflow-auto h-dvh w-dvw;
}

@font-face {
  font-family: icon;
  src: url("./fonts/icon/icon.woff2");
  font-weight: 100 900;
}

::selection {
  @apply bg-indigo-500 text-zinc-100;
  @apply dark:bg-amber-300 dark:text-zinc-800;
}

:disabled {
  @apply opacity-25 cursor-not-allowed;
}

:invalid {
  @apply outline-rose-500!;
}

.button,
button,
select {
  @apply cursor-pointer;
}

.outlined,
.button,
button:not(.plain):not(.icon),
select {
  @apply outline -outline-offset-1;
  @apply dark:outline-zinc-700;
}

button:not(.plain),
select {
  @apply button;
}

i {
  @apply icon p-0;
}

select {
  @apply rounded-md py-1 px-3;
}

button,
:not(.named-input) > input,
textarea,
select {
  @apply focus:outline focus:outline-indigo-500 dark:focus:outline-amber-300 -outline-offset-1;
}

:not(.named-input) > input:not([type="color"]),
textarea {
  @apply px-2 rounded-xs bg-zinc-50 text-zinc-900 outline-indigo-700 dark:bg-zinc-900 dark:text-zinc-50 dark:outline-amber-200;
}

@utility scrollbar-hidden {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility rounded-square {
  @apply px-2 rounded-sm h-full aspect-square text-center flex items-center justify-center;
}

@utility named-input {
  @apply grid items-center gap-2 rounded-md text-zinc-200 border border-transparent
         px-4 py-2 relative transition-[background,color,padding,border] duration-200;

  input {
    @apply outline-none;
  }

  input::placeholder {
    @apply opacity-0;
  }

  > .placeholder {
    @apply flex gap-2 pointer-events-none opacity-50 absolute
           transition-[background,opacity,translate,padding] duration-200 translate-none rounded-t-md;
  }

  &:hover,
  &:has(input:focus) {
    > .input-icn,
    > .placeholder {
      @apply opacity-100;
    }
  }

  &:has(input:focus) {
    @apply text-amber-300 px-4 border-current;
  }

  > input:not(:placeholder-shown) + .placeholder,
  input:focus + .placeholder {
    @apply -translate-y-5 translate-x-4;
  }

  > input:focus + .placeholder {
    @apply px-2 bg-amber-300 text-zinc-900 opacity-100;
    translate: 4px calc(-8px - 100%);
  }
}

@utility explorer {
  @apply grid gap-4 p-4 pt-0 grid-cols-[repeat(auto-fill,minmax(200px,1fr))];

  > header {
    @apply grid grid-cols-[repeat(3,max-content)] items-center gap-4 px-6 py-4 bg-zinc-900/50 -mx-4 col-span-full;
  }

  > header > button {
    @apply grid grid-cols-[auto_1fr] items-center gap-4;
  }

  i {
    @apply leading-none;
  }

  > .title {
    @apply text-2xl col-span-2;
  }

  > .file {
    @apply overflow-hidden text-ellipsis cursor-pointer flex flex-col justify-between gap-2 p-0;

    > i {
      @apply text-[12rem];
    }

    &.unknown > i::after {
      content: "";
    }

    > .Thumbnail {
      @apply rounded-md;
    }
  }

  > .directory {
    @apply flex flex-col justify-between gap-2 p-0;

    > i {
      @apply text-amber-300;

      &::after {
        content: "";
      }

      &:hover::after {
        content: "";
      }
    }
  }
}

@utility gallery {
  @apply grid items-center fixed left-0 top-0 w-screen h-screen backdrop-blur-md bg-black/80 z-1;

  &.video {
    @apply grid-rows-[auto_1fr_auto];
  }

  &.image {
    @apply auto-rows-auto content-between;
  }

  > :not(.src) {
    @apply transition-opacity duration-300 opacity-100;
  }

  &.hidden-ctrls {
    @apply cursor-none;
  }

  &.hidden-ctrls > :not(.src) {
    @apply opacity-0;
  }

  > header {
    @apply p-4 grid grid-cols-[1fr_auto] bg-gradient-to-b from-black to-transparent;
  }

  > .play {
    opacity: 0.5 !important;
    @apply h-full text-[16rem];

    > i {
      @apply transition-all duration-400;

      &.pop-enter-active,
      &.pop-leave-active {
        @apply opacity-100 text-[18rem];
      }

      &.pop-enter-from,
      &.pop-leave-to {
        @apply opacity-0 text-[16rem];
      }
    }
  }

  > footer {
    @apply grid items-center gap-4 bg-gradient-to-t from-black to-transparent p-4;

    > .control {
      @apply relative flex gap-2 items-center leading-none;

      .range-input {
        @apply w-24;
      }
    }
  }

  &.video > footer {
    @apply grid-cols-[auto_1fr_repeat(3,auto)_repeat(3,4rem)_auto];
  }

  &.image > footer {
    @apply grid-cols-[auto_auto] justify-end;
  }

  > .control,
  > footer .control,
  > .play {
    @apply border-0;
  }

  > .src {
    @apply absolute w-full h-full -z-1;

    &.horizontal {
      @apply min-h-screen;
    }
  }
}

@utility range-input {
  @apply appearance-none bg-transparent;
  @apply relative grid items-center h-8;

  > label {
    @apply opacity-0 pointer-events-none absolute px-3 py-1.5 text-zinc-200 bg-black/70 rounded transition-all duration-300 -translate-y-full;
    left: var(--x);
    transform: translateX(calc(var(--offset-x) - 50%));

    &.left {
      --offset-x: 1rem;
    }

    &.right {
      --offset-x: -1rem;
    }
  }

  &:hover {
    > .progress::after {
      @apply w-5 h-5;
    }

    > label {
      @apply opacity-100;
    }
  }

  > .progress {
    @apply flex items-center z-0 h-2 pointer-events-none bg-zinc-800 border border-amber-300/25 rounded relative;

    &::before {
      @apply block h-full bg-gradient-to-r from-green-500 to-amber-300 rounded-l;
      content: "";
      width: var(--progress);
    }

    &::after {
      @apply block w-4 h-4 rounded-full bg-amber-300 absolute transition-[box-shadow,color,width,height] duration-300 -translate-x-1/2 z-1;
      content: "";
      left: var(--progress);
    }
  }

  > input {
    @apply absolute inset-0 w-full h-8 outline-none cursor-pointer z-10 opacity-0;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      @apply opacity-0 border-0 cursor-pointer w-6 h-6;
      -webkit-appearance: none;
    }
  }
  -webkit-appearance: none;
}

@utility button {
  &:not(.icon):not(.compact) {
    @apply px-4 py-1;
  }

  &:not(.icon):not(.no-color) {
    @apply bg-zinc-200 text-zinc-800 hover:bg-indigo-500 active:bg-indigo-900 hover:text-zinc-200 active:text-zinc-200;
    @apply dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-amber-300 dark:active:bg-amber-100 dark:hover:text-zinc-800 dark:active:text-zinc-800;

    &.selected {
      @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
    }
  }

  &.icon {
    @apply text-zinc-200 hover:text-indigo-500 active:text-indigo-900;
    @apply dark:text-zinc-50 dark:hover:text-amber-300 dark:active:text-amber-100;
  }
}

@utility icon {
  font-family: icon, monospace;
  @apply border-0 outline-0 p-2 inline-block text-center not-italic;
  outline: 0;
}
